@model int 
<div class="form-group">
    <div class="row">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</button>
    </div>
    <div class="row">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>